server {
    listen 80;
    server_name {{ app_name }};
    return 301 http://www.{{ app_name }}$request_uri;
}

server {
    listen 80;
    server_name www.{{ app_name }}.test;
    root /var/www/html/{{ app_name }};
    index index.php;

    include global_restrictions.conf;

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        fastcgi_pass unix:/var/run/php/php{{ php_version }}-fpm.sock;
        include fastcgi.conf;
        fastcgi_intercept_errors on;
        fastcgi_buffers 16 16k;
        fastcgi_buffer_size 32k;
    }

    location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
        expires max;
        log_not_found off;
    }

    error_log /var/log/nginx/{{ app_name }}_error.log;
    access_log /var/log/nginx/{{ app_name }}_access.log;
}
